<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>_02.1_Objednavky</display-name>
  <welcome-file-list>
    <welcome-file>Zakaznik</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Select_objednavky</display-name>
    <servlet-name>Select_objednavky</servlet-name>
    <servlet-class>Select_objednavky</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Select_objednavky</servlet-name>
    <url-pattern>/Select_objednavky</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Zakaznik</display-name>
    <servlet-name>Zakaznik</servlet-name>
    <servlet-class>Zakaznik</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Zakaznik</servlet-name>
    <url-pattern>/Zakaznik</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tovar</display-name>
    <servlet-name>Tovar</servlet-name>
    <servlet-class>Tovar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tovar</servlet-name>
    <url-pattern>/Tovar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Objednavky</display-name>
    <servlet-name>Objednavky</servlet-name>
    <servlet-class>Objednavky</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Objednavky</servlet-name>
    <url-pattern>/Objednavky</url-pattern>
  </servlet-mapping>
</web-app>