body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.blog-container {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color: #333;
    margin-left: 10%; /* Add the margin-left property */
}

.blog-post {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
}

.timestamp {
    color: #888;
    font-size: 14px;
}

.author {
    font-weight: bold;
    margin-right: 10px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}

/* Additional styles from the previous CSS */
.formular {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: flex-end;
}

.formular input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

form {
    text-align: center;
}

#requirementsMessage {
    color: blue;
}

input[type="submit"] {
    margin-bottom: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
