body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.blog-container {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color: #333;
    margin-left: 10%;
}

.blog-post {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 10%;
}

.timestamp {
    color: #888;
    font-size: 14px;
}

.author {
    font-weight: bold;
    margin-right: 10px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #ddd;
}

.formular {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.formular label {
    display: block;
    margin-bottom: 10px;
}

.formular textarea {
    margin-bottom: 15px;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

form {
    text-align: center;
}

#requirementsMessage {
    color: blue;
}

input[type="submit"] {
    margin-bottom: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
}

.ban-table {
    max-width: 600px;
    margin: 0 auto;
}

.ban-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.ban-table th, .ban-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.ban-table input[type="radio"] {
    margin: 0;
}
