<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>ukf.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <display-name>Objednavky</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet_Zakaznik</display-name>
    <servlet-name>Servlet_Zakaznik</servlet-name>
    <servlet-class>ukf.Servlet_Zakaznik</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Zakaznik</servlet-name>
    <url-pattern>/Servlet_Zakaznik</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_Tovar</display-name>
    <servlet-name>Servlet_Tovar</servlet-name>
    <servlet-class>ukf.Servlet_Tovar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Tovar</servlet-name>
    <url-pattern>/Servlet_Tovar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_Objednavky</display-name>
    <servlet-name>Servlet_Objednavky</servlet-name>
    <servlet-class>ukf.Servlet_Objednavky</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Objednavky</servlet-name>
    <url-pattern>/Servlet_Objednavky</url-pattern>
  </servlet-mapping>
</web-app>