<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Objednavky</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet_main</display-name>
    <servlet-name>Servlet_main</servlet-name>
    <servlet-class>sk.ukf.Servlet_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_main</servlet-name>
    <url-pattern>/Servlet_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TovarServlet</display-name>
    <servlet-name>TovarServlet</servlet-name>
    <servlet-class>sk.ukf.TovarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TovarServlet</servlet-name>
    <url-pattern>/TovarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZakazniciServlet</display-name>
    <servlet-name>ZakazniciServlet</servlet-name>
    <servlet-class>sk.ukf.ZakazniciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZakazniciServlet</servlet-name>
    <url-pattern>/ZakazniciServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>sk.ukf.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOrderServlet</display-name>
    <servlet-name>EditOrderServlet</servlet-name>
    <servlet-class>sk.ukf.EditOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOrderServlet</servlet-name>
    <url-pattern>/EditOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServlet</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>sk.ukf.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
</web-app>