<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>_02_Objednavky</display-name>
  <welcome-file-list>
    <welcome-file>Hlavna_obrazovka</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hlavna_obrazovka</display-name>
    <servlet-name>Hlavna_obrazovka</servlet-name>
    <servlet-class>Hlavna_obrazovka</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hlavna_obrazovka</servlet-name>
    <url-pattern>/Hlavna_obrazovka</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SELECT_tabulka_1</display-name>
    <servlet-name>SELECT_tabulka_1</servlet-name>
    <servlet-class>SELECT_tabulka_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SELECT_tabulka_1</servlet-name>
    <url-pattern>/SELECT_tabulka_1</url-pattern>
  </servlet-mapping>
</web-app>