<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>mainServlet</display-name>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>ukf.mainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/mainServlet</url-pattern>
  </servlet-mapping>
  <display-name>Library_e-shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Guard</display-name>
    <servlet-name>Guard</servlet-name>
    <servlet-class>ukf.Guard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guard</servlet-name>
    <url-pattern>/Guard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getConnection</display-name>
    <servlet-name>getConnection</servlet-name>
    <servlet-class>ukf.getConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getConnection</servlet-name>
    <url-pattern>/getConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>products</display-name>
    <servlet-name>products</servlet-name>
    <servlet-class>ukf.products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>products</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
</web-app>