<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Objednavky</display-name>
  <welcome-file-list>
    <welcome-file>Servlet_main</welcome-file>
</welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet_main</display-name>
    <servlet-name>Servlet_main</servlet-name>
    <servlet-class>sk.marek.Servlet_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_main</servlet-name>
    <url-pattern>/Servlet_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>zobrazZakaznikov</display-name>
    <servlet-name>zobrazZakaznikov</servlet-name>
    <servlet-class>sk.marek.zobrazZakaznikov</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zobrazZakaznikov</servlet-name>
    <url-pattern>/zobrazZakaznikov</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>zobrazTovar</display-name>
    <servlet-name>zobrazTovar</servlet-name>
    <servlet-class>sk.marek.zobrazTovar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zobrazTovar</servlet-name>
    <url-pattern>/zobrazTovar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editTovar</display-name>
    <servlet-name>editTovar</servlet-name>
    <servlet-class>sk.marek.editTovar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editTovar</servlet-name>
    <url-pattern>/editTovar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteTovar</display-name>
    <servlet-name>deleteTovar</servlet-name>
    <servlet-class>sk.marek.deleteTovar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTovar</servlet-name>
    <url-pattern>/deleteTovar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addTovar</display-name>
    <servlet-name>addTovar</servlet-name>
    <servlet-class>sk.marek.addTovar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTovar</servlet-name>
    <url-pattern>/addTovar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editZakaznik</display-name>
    <servlet-name>editZakaznik</servlet-name>
    <servlet-class>sk.marek.editZakaznik</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editZakaznik</servlet-name>
    <url-pattern>/editZakaznik</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteZakaznik</display-name>
    <servlet-name>deleteZakaznik</servlet-name>
    <servlet-class>sk.marek.deleteZakaznik</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteZakaznik</servlet-name>
    <url-pattern>/deleteZakaznik</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addZakaznik</display-name>
    <servlet-name>addZakaznik</servlet-name>
    <servlet-class>sk.marek.addZakaznik</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addZakaznik</servlet-name>
    <url-pattern>/addZakaznik</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editObjednavku</display-name>
    <servlet-name>editObjednavku</servlet-name>
    <servlet-class>sk.marek.editObjednavku</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editObjednavku</servlet-name>
    <url-pattern>/editObjednavku</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteObjednavku</display-name>
    <servlet-name>deleteObjednavku</servlet-name>
    <servlet-class>sk.marek.deleteObjednavku</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteObjednavku</servlet-name>
    <url-pattern>/deleteObjednavku</url-pattern>
  </servlet-mapping>
</web-app>