<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>E-shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>mainServlet</display-name>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>ukf.mainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/mainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kosikServlet</display-name>
    <servlet-name>kosikServlet</servlet-name>
    <servlet-class>ukf.kosikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kosikServlet</servlet-name>
    <url-pattern>/kosikServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>objednavkaServlet</display-name>
    <servlet-name>objednavkaServlet</servlet-name>
    <servlet-class>ukf.objednavkaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>objednavkaServlet</servlet-name>
    <url-pattern>/objednavkaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registraciaServlet</display-name>
    <servlet-name>registraciaServlet</servlet-name>
    <servlet-class>ukf.registraciaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registraciaServlet</servlet-name>
    <url-pattern>/registraciaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>ukf.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
</web-app>